.git
.gitignore
node_modules
npm-debug.log
Dockerfile
.docker
.vscode
laravel-docker/vendor
laravel-no-docker/vendor
laravel-docker/storage/framework
laravel-docker/storage/logs
laravel-docker/bootstrap/cache/*.php
laravel-no-docker/storage/framework
laravel-no-docker/storage/logs
laravel-no-docker/bootstrap/cache/*.php
