<Files "pepper2.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "virustotal_api_key.php">
    Order Allow,Deny
    Deny from all
</Files>

<Files "api_key.js">
    Order Allow,Deny
    Deny from all
</Files>